<%= form_for(expense) do |f| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-inline">
    <div class="field" style='display: inline-block; width: 50%'>
      <%= f.label :amount %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :amount, class: 'form-control text-right', placeholder: 'Amount' %>
      </div>
    </div>
  
    <div class="field"  style='display: inline-block'>
      <%= f.label :frequency %>
      <%= f.select :frequency, @frequencies, {}, { class: 'form-control' } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
