<div class="container">
  
  <%= render partial: 'modals/new_modal' %>
  
  <h1>Budget</h1>
  
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Title</th>
        <th class='text-right hidden-xs'>Amount</th>
        <th class="hidden-xs">Frequency</th>
        <th class='text-right'>Per Pay</th>
        <th class='text-center'>Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @expenses.each do |expense| %>
        <%= link_to(expense) do %>
        <tr>
          <td><%= expense.title %></td>
          <td class='hidden-xs text-right'><%= number_to_currency(expense.amount) %></td>
          <td class="hidden-xs"><%= expense.frequency %></td>
          <td class='text-right'><%= number_to_currency(expense.convert_to_fortnightly) %></td>
          <td class='text-center'><%= link_to '', expense, class: 'glyphicon glyphicon-eye-open' %>
          <%= link_to '', edit_expense_path(expense), class: 'glyphicon glyphicon-pencil' %>
          <%= link_to '', expense, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %></td>
        </tr>
        <% end %>
      <% end %>
      <tr>
        <td>Total</td>
        <td class="hidden-xs" colspan="2"></td>
        <td class='text-right'><%= number_to_currency(@sum_expenses) %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <br>
  
  <div id="notice"><%= notice %></div>
  
   <br>
  
  <!--<%= link_to new_expense_path, class: 'btn btn-primary btn-mobile-block' do %>-->
  <!--  <span class="glyphicon glyphicon-plus"></span> New Expense-->
  <!--<% end %>-->
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newExpenseModal">
    <span class="glyphicon glyphicon-plus"></span> New Expense
  </button>
  
  <%= link_to expenses_path(format: "csv"), class: 'btn btn-primary btn-mobile-block' do %>
    <span class="glyphicon glyphicon-export"></span> Export (CSV)
  <% end %>
</div>
